<!-- <div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">User details</p>
            </div>
            <a href="/users" class="btn btn-primary">User details</a>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Show trainings</p>
            </div>
           
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">Add new training</p>
            </div>
            
        </div>
    </div>
    <div class="col"></div> -->
<!-- </div> -->
<!-- <div class="row my-5 mx-5">
    <img src="../../assets/blog-2.jpg" class="card-img-top" alt="silownia">
  </div> -->
  <div class="container px-4" id="featured-3">
    <h2 class="pb-2 border-bottom">Menu</h2>
    <div class="row g-4  row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        </div>
        
        <h3 class="fs-2">User  </h3>
       
        <p>Show details about me.</p>
        <a href="/user" class="btn btn-primary">Info</a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">

        </div>
        <h3 class="fs-2">Trainings</h3>
        <p>Show history of your trainings or peek on your planned trainings.</p>
        <a href="/trainings" class="btn btn-primary">Show trainings</a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        </div>
        <h3 class="fs-2">Create new training</h3>
        <p>Plan your next training or retain trainings that you have done.</p>
        <!-- <a href="/training/creation">   <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg></a> -->
        <a href="/training/creation" class="btn btn-primary">Add training</a>
      </div>
    </div>
  </div>
