


    <form [formGroup]="form">
        <div class="container py-5 h-100">
      
          <div class="row d-flex justify-content-center align-items-center h-100">
          
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Sign in</h3>
      
                  <div class="form-outline mb-4">
                    <input [class.is-invalid]="form.get('login')?.invalid && form.get('login')?.touched" required type="text" formControlName="login" id="username" class="form-control form-control-lg" />
                    <label class="form-label"  for="login">Login</label>
                 
                    <div *ngIf="(form.get('login')?.invalid && form.get('login')?.touched) || form.get('login')?.dirty">
                      <small *ngIf="form.get('login')?.errors?.['required']" class="text-danger"> login is required.</small>
                      <small *ngIf="form.get('login')?.errors?.['minlength']" class="text-danger">        login must be at least 4 characters long.</small>
                    </div>
                  </div>
                

                  <div class="form-outline mb-4">
                    <input [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched" required type="password" id="typePasswordX-2" formControlName="password" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Password</label>
                 
                    <div *ngIf="(form.get('password')?.invalid && form.get('password')?.touched) || form.get('password')?.dirty">
                      <small *ngIf="form.get('password')?.errors?.['required']" class="text-danger"> Password is required.</small>
                      <small *ngIf="form.get('password')?.errors?.['minlength']" class="text-danger">        Password must be at least 4 characters long.</small>
                    </div>
                 
                  </div>
               
                  <!-- Checkbox -->
                  <!-- <div class="form-check d-flex justify-content-start mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                    <label class="form-check-label" for="form1Example3"> Remember password </label>
                  </div> -->
      
                  <button class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid" (click)="login()">Login</button>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row d-flex justify-content-center align-items-center h-25  mt-5 ">
          <div  *ngIf="failed == true" style="margin:auto;text-align: center;"class="col-2 alert alert-danger">
            Wrong login or password </div></div>
      </div>
    </form>
    